{% for product in section.settings.collections.products %}
  <div>{{ product.title }}</div>
{% endfor %}
{% schema %}
{
  "name": "Show Collection",
  "settings": [
    {
      "type": "collection",
      "id": "collections",
      "label": "Select Collection"
    },
    {
      "type":"range",
      "id":"max_show_collection_products",
      "label":"Set Max Product",
      "default": 4,
      "min": 1,
      "max": 10,
      "step": 1
    }
  ],
  "presets":[
    {
      "name": "Single Collection"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
