{% stylesheet %}
  .evince_title{
    font-size: px;
  }
{% endstylesheet %}
{% if section.settings.collections.products != blank %}
  {% for product in section.settings.collections.products limit: section.settings.max_show_collection_products %}
    <div>
      {{ product | image_url: width: '200x' | image_tag }}
      {{ product.title }}
      {{ product.price | money_with_currency }}
    </div>
  {% endfor %}
{% endif %}
{% schema %}
{
  "name": "Show Single Collection",
  "settings": [
    {
      "type": "text",
      "id": "collection_title",
      "label": "Title",
      "default": "Collection Title"
    },
    {
      "type":"range",
      "id":"title_font_size",
      "label":"Title Font Size",
      "default": 4,
      "min": 1,
      "max": 10,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "collection",
      "id": "collections",
      "label": "Select Collection"
    },
    {
      "type":"range",
      "id":"max_show_collection_products",
      "label":"Set Max Product",
      "default": 4,
      "min": 1,
      "max": 10,
      "step": 1
    }
  ],
  "presets":[
    {
      "name": "Show Single Collection"
    }
  ]
}
{% endschema %}
