<h1>{{ section.settings.text_field }}</h1>
{{ section.settings.text_body }}
{% schema %}
{
  "name": "Test template",
  "settings": [
    {
      "type":"text",
      "id":"text_field",
      "label":"Text Field",
      "default":"Hello World"
    },
    {
      "type": "richtext",
      "id":"text_body",
      "label": "Content"
    }
  ]
}
{% endschema %}
