<h1>{{ section.blocks.block1_richtext }}</h1>
{{ section.settings.text_body }}
{% schema %}
{
  "name": "Test Section",
  "blocks": [
    {
      "type": "block1_richtext",
      "name": "Rich Text",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "block1_setting1",
          "label": "Text Content"
        }
      ]
    },
    {
      "type": "block2_image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "block2_setting1",
          "label": "Image"
        }
      ]
    }
  ]
}
{% endschema %}
