<h1>{{ section.settings.text_field }}</h1>
<h1>{{ section.blocks.first.settings.block1 }}</h1>
{{ section.settings.text_body }}
{% schema %}
{
  "name": "Test template",
  "blocks": [
    {
      "type": "block1_richtext",
      "name": "Rich Text",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "block1",
          "label": "Text Content"
        }
      ]
    },
    {
      "type": "block2_image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "block2",
          "label": "Image"
        }
      ]
    }
  ],
  "settings": [
    {
      "type":"text",
      "id":"text_field",
      "label":"Text Field",
      "default":"Hello World"
    },
    {
      "type": "richtext",
      "id":"text_body",
      "label": "Content"
    }
  ]
}
{% endschema %}
