{% assign pcollection = section.settings.scollection %}
{% if pcollection != blank -%}
  <div><b>Collection Object</b></div>
  handle : {{ pcollection.handle }}
  <div><b>Product</b></div>
  {% for product in pcollection.products -%}
    <div>------------</div>
    title : {{ product.title }}
    <br>
    handle : {{ product.handle }}
  {%- endfor %}
{%- endif %}
{% schema %}
{
  "name": "Page Single Collection",
  "settings": [
    {
      "type": "collection",
      "id": "scollection",
      "label": "Collection"
    }
  ]
}
{% endschema %}
