{% comment %} Render blocks {% endcomment %}
<div>{{ section.settings.header }}</div>
{% for block in section.blocks %}
  {% case block.type %}
    {% when 'slide' %}
      {% if block.settings.image != blank %}
        <div class="slide" {{ block.shopify_attributes }}>
          {{ block.settings.image | image_url: width: '200x' | image_tag }}
        </div>
      {% endif %}
  {% endcase %}
{% endfor %}
{% schema %}
{
  "name": "Section Beta",
  "tag": "section",
  "class": "evince_section",
  "limit": 1,
  "max_blocks": 5,
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "text",
      "id": "header",
      "label": "Text Field"
    }
  ],
  "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
           "type": "image_picker",
           "id": "image",
           "label": "Image"
         }
       ]
     }
   ],
  "presets": [
    {
      "name": "section Test"
    }
  ]
}
{% endschema %}
